*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

.blue-bar {
  display: flex;
  background-color: #2d3945;
  color: white;
  height: fit-content;
  justify-content: center;
  text-align: center;
  padding: 20px 40px;
}
.header-prt-two {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 30px;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.second-title {
  margin-bottom: 10px;
}
.grey-text {
  color: #c0c6cc;
}
.header-align {
  margin: 0 20px;
}
.bot-line {
  margin-bottom: 1px;
  height: 6px;
  background-color: black;
}
.second-hr {
  margin-bottom: 20px;
  height: 3px;
  background-color: black;
}
.top-marg {
  width: 100%;
  margin-top: 20px;
}

form {
  margin: 20px;
}
fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}
.options {
  width: 100%;
}
.form-text {
  color: #808080;
}
label:not([class="check-text"]) {
  min-width: 100%;
}
input:not([type="checkbox"]):not([type="radio"]):not([id="zip"]),
select,
textarea {
  border: none;
  background-color: #eff0f1;
  min-width: 100%;
  padding: 15px;
  border-radius: 0.35em;
  margin-bottom: 1em;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 10px;
}
#zip {
  border: none;
  background-color: #eff0f1;
  padding: 15px;
  border-radius: 0.35em;
  margin-bottom: 1em;
  min-width: 50%;
}

textarea {
  margin-top: 20px;
}

h3 {
  margin-bottom: 20px;
}

input:not(:focus) {
  text-align: end;
}
input:focus {
  text-align: start;
}
button {
  color: white;
  font-size: 2em;
  padding: 20px;
  background-color: #4ebbb5;
  border: none;
  border-radius: 0.35em;
}

footer {
  margin: 20px 0 7em;
  text-align: center;
  color: #a9afb4;
}
@media (min-width: 768px) {
  .adjust {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  form {
    margin: auto;
  }

  label:not([class="check-text"]):not([for="zip"]) {
    min-width: 20%;
    flex-grow: 1.5;
  }
  label[for="zip"] {
    min-width: 30%;
  }
  #zip {
    min-width: 2%;
    flex-grow: 0.25;
  }
  input:not([type="checkbox"]):not([type="radio"]):not([id="zip"]),
  select,
  textarea {
    min-width: 70%;
    flex-grow: 1;
    align-self: center;
  }

  footer {
    margin-top: 3em;
    margin-bottom: 10em;
  }
}
